* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("./assets/BGa.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-origin: border-box;
    background-size: cover;
}


/* .App {
    min-height: 100vh;
} */

.title-app {
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    font-family: cursive;
    background-color: #1a1d3f;
}

.search-form {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 23%;
}

.search-bar {
    width: 50%;
    padding: 1%;
    margin-left: 2%;
    border-radius: 10px;
    border: 2px rgb(253, 154, 5) solid;
}

.recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search-button {
    font-variant: small-caps;
    color: white;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: rgb(253, 154, 5);
    border-radius: 6px;
    border: 1px solid #ffffff3b;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.4em 1em;
    margin-top: 1em;
    margin-left: 0.4em;
    text-decoration: none;
    align-self: center;
    justify-self: flex-end;
    transition: 1.4s
}

.search-button:hover {
    background-color: rgb(253, 154, 5);
    color: crimson;
    transform: scale(1.04);
}